.container{
    background-color: rgb(110, 110, 229);
    width: 800px;
    height: 430px;
}
h1{
    width: 300px;
    height: 130px;
    background-color: rgb(248, 55, 151);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 4px;
}
.first{
    display: flex;
}
.second{
    display: flex;
}
.last{
    display: flex;
}
.h1{
    order: 1;
}
.h2{
    order: 2;
}
.h3{
    order: 3;
}
.big{
    width: 600px;
    order: 3;
}
.h5{
    order: 5;
}
.h6{
    order: 6;
    width: 258px;
}
.h7{
    order: 7;
    width: 258px;
}